.content {
    margin: 0% 20%;
}
.centered {
    display: grid;
    justify-content: center;
    align-items: center;
}

.message {
    height: 200px;
}

.btn {
    font-size: 50px;
    color: rgb(99, 99, 206);
    align-items: center;
}